.App {
  text-align: center;
}

.app-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
}

/*.App-header {
  background-size: color;
  background-position: top center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 250%;
}

h3 {
  font-size: 200%;
}